Notebook created: 2018-01-04 10:10:22  
Generated from: _build_jl/jl/julia_essentials.rst

In [ ]:
x = true

```none
true
```

In [ ]:
typeof(x)

```none
Bool
```

In [ ]:
y = 1 > 2  # Now y = false

```none
false
```

In [ ]:
true + false

```none
1
```

In [ ]:
sum([true, false, false, true])

```none
2
```

In [ ]:
typeof(1.0)

```none
Float64
```

In [ ]:
typeof(1)

```none
Int64
```

In [ ]:
x = 2; y = 1.0

```none
1.0
```

In [ ]:
x * y

```none
2.0
```

In [ ]:
x^2

```none
4
```

In [ ]:
y / x

```none
0.5
```

In [ ]:
2x - 3y

```none
1.0
```

In [ ]:
+(10, 20)

```none
30
```

In [ ]:
*(10, 20)

```none
200
```

In [ ]:
x = 1 + 2im

```none
1 + 2im
```

In [ ]:
y = 1 - 2im

```none
1 - 2im
```

In [ ]:
x * y  # Complex multiplication

```none
5 + 0im
```

In [ ]:
x = "foobar"

```none
"foobar"
```

In [ ]:
typeof(x)

```none
String
```

In [ ]:
x = 10; y = 20

```none
20
```

In [ ]:
"x = $x"

```none
"x = 10"
```

In [ ]:
"x + y = $(x + y)"

```none
"x + y = 30"
```

In [ ]:
"foo" * "bar"

```none
"foobar"
```

In [ ]:
s = "Charlie don't surf"

```none
"Charlie don't surf"
```

In [ ]:
split(s)

```none
3-element Array{SubString{String},1}:
 "Charlie"
 "don't"
 "surf"
```

In [ ]:
replace(s, "surf", "ski")

```none
"Charlie don't ski"
```

In [ ]:
split("fee,fi,fo", ",")

```none
3-element Array{SubString{String},1}:
 "fee"
 "fi"
 "fo"
```

In [ ]:
strip(" foobar ")  # Remove whitespace

```none
"foobar"
```

In [ ]:
match(r"(\d+)", "Top 10")  # Find digits in string

```none
RegexMatch("10", 1="10")
```

In [ ]:
x = ("foo", "bar")

```none
("foo","bar")
```

In [ ]:
typeof(x)

```none
Tuple{String,String}
```

```julia
x[1] = 42
```

```none
MethodError: no method matching setindex!(::Tuple{String,String}, ::Int64, ::Int64)
```

In [ ]:
x = "foo", "bar"

```none
("foo","bar")
```

In [ ]:
x = ("foo", "bar")

```none
("foo","bar")
```

In [ ]:
word1, word2 = x

```none
("foo","bar")
```

In [ ]:
word1

```none
"foo"
```

In [ ]:
word2

```none
"bar"
```

In [ ]:
x = [10, 20, 30, 40]

```none
4-element Array{Int64,1}:
 10
 20
 30
 40
```

In [ ]:
x[end]

```none
40
```

In [ ]:
x[end-1]

```none
30
```

In [ ]:
x[1:3]

```none
3-element Array{Int64,1}:
 10
 20
 30
```

In [ ]:
x[2:end]

```none
3-element Array{Int64,1}:
 20
 30
 40
```

In [ ]:
"foobar"[3:end]

```none
"obar"
```

In [ ]:
d = Dict("name" => "Frodo", "age" => 33)

```none
Dict{String,Any} with 2 entries:
  "name" => "Frodo"
  "age"  => 33
```

In [ ]:
d["age"]

```none
33
```

In [ ]:
f = open("newfile.txt", "w")  # "w" for writing

```none
IOStream(<file newfile.txt>)
```

In [ ]:
write(f, "testing\n")         # \n for newline

```none
8
```

In [ ]:
write(f, "more testing\n")

```none
13
```

In [ ]:
close(f)

```none
testing
more testing
```

In [ ]:
f = open("newfile.txt", "r")  # Open for reading

```none
IOStream(<file newfile.txt>)
```

In [ ]:
print(readstring(f))

```none
testing
more testing
```

In [ ]:
close(f)

In [ ]:
actions = ["surf", "ski"]
for action in actions
    println("Charlie don't $action")
end

```none
Charlie don't surf
Charlie don't ski
```

In [ ]:
for i in 1:3 print(i) end

```none
123
```

In [ ]:
d = Dict("name" => "Frodo", "age" => 33)

```none
Dict{String,Any} with 2 entries:
  "name" => "Frodo"
  "age"  => 33
```

In [ ]:
keys(d)

```none
Base.KeyIterator for a Dict{String,Any} with 2 entries. Keys:
  "name"
  "age"
```

In [ ]:
collect(keys(d))

```none
2-element Array{String,1}:
 "name"
 "age"
```

In [ ]:
x_values = linspace(0, 3, 10)

In [ ]:
for x in x_values
    println(x * x)
end

```none
0.0
0.1111111111111111
0.4444444444444444
1.0
1.7777777777777777
2.777777777777778
4.0
5.4444444444444455
7.111111111111111
9.0
```

In [ ]:
for i in 1:length(x_values)
    println(x_values[i] * x_values[i])
end

```none
0.0
0.1111111111111111
0.4444444444444444
1.0
1.7777777777777777
2.777777777777778
4.0
5.4444444444444455
7.111111111111111
9.0
```

In [ ]:
countries = ("Japan", "Korea", "China")
cities = ("Tokyo", "Seoul", "Beijing")
for (country, city) in zip(countries, cities)
    println("The capital of $country is $city")
end

```none
The capital of Japan is Tokyo
The capital of Korea is Seoul
The capital of China is Beijing
```

In [ ]:
countries = ("Japan", "Korea", "China")
cities = ("Tokyo", "Seoul", "Beijing")
for (i, country) in enumerate(countries)
    city = cities[i]
    println("The capital of $country is $city")
end

```none
The capital of Japan is Tokyo
The capital of Korea is Seoul
The capital of China is Beijing
```

In [ ]:
doubles = [2i for i in 1:4]

```none
4-element Array{Int64,1}:
 2
 4
 6
 8
```

In [ ]:
animals = ["dog", "cat", "bird"];   # Semicolon suppresses output

In [ ]:
plurals = [animal * "s" for animal in animals]

```none
3-element Array{String,1}:
 "dogs"
 "cats"
 "birds"
```

In [ ]:
[i + j for i in 1:3, j in 4:6]

```none
3×3 Array{Int64,2}:
 5  6  7
 6  7  8
 7  8  9
```

In [ ]:
[i + j + k for i in 1:3, j in 4:6, k in 7:9]

```none
3×3×3 Array{Int64,3}:
[:, :, 1] =
 12  13  14
 13  14  15
 14  15  16

[:, :, 2] =
 13  14  15
 14  15  16
 15  16  17

[:, :, 3] =
 14  15  16
 15  16  17
 16  17  18
```

In [ ]:
Dict("$i" => i for i in 1:3)

```none
Dict{String,Int64} with 3 entries:
  "1" => 1
  "2" => 2
  "3" => 3
```

In [ ]:
x = 1

```none
1
```

In [ ]:
x == 2

```none
false
```

In [ ]:
x != 3

```none
true
```

In [ ]:
1 < 2 < 3

```none
true
```

In [ ]:
1 <= 2 <= 3

```none
true
```

```julia
while 0 println("foo") end
```

```none
ERROR: TypeError: non-boolean (Int64) used in boolean context
Stacktrace:
 [1] anonymous at ./<missing>:?
```

```julia
if 1 print("foo") end
```

```none
TypeError: non-boolean (Int64) used in boolean context
```

In [ ]:
true && false
false

```none
false
```

In [ ]:
true || false

```none
true
```

In [ ]:
function f1(a, b)
    return a * b
end

function f2(a, b)
    a * b
end

In [ ]:
function foo(x)
    if x > 0
        return "positive"
    end
    return "nonpositive"
end

In [ ]:
ff(x) = sin(1 / x)

In [ ]:
ff(1 / pi)

```none
1.2246467991473532e-16
```

In [ ]:
map(x -> sin(1 / x), randn(3))  # Apply function to each element

```none
3-element Array{Float64,1}:
  0.694055
 -0.814733
 -0.481659
```

In [ ]:
function fff(x, a=1)
    return exp(cos(a * x))
end

In [ ]:
fff(pi)

```none
0.36787944117144233
```

In [ ]:
fff(pi, 2)

```none
2.718281828459045
```

```julia
simulate(param1, param2, max_iterations=100, error_tolerance=0.01)
```

```julia
function simulate_kw(param1, param2; max_iterations=100, error_tolerance=0.01)
    # Function body here
end
```

In [ ]:
x_vec = [2.0, 4.0, 6.0, 8.0]
y_vec = similar(x_vec)
for (i, x) in enumerate(x_vec)
    y_vec[i] = sin(x)
end

In [ ]:
y_vec = sin.(x_vec)

In [ ]:
function chisq(k::Integer)
    @assert k > 0 "k must be a natural number"
    z = randn(k)
    return sum(z.^2)
end

In [ ]:
chisq(3)

```none
1.5841392760511817
```

```julia
chisq(-2)
```

```none
AssertionError: k must be a natural number
```

In [ ]:
chisq.([2, 4, 6])

```none
3-element Array{Float64,1}:
 0.992351
 3.03434
 3.29578
```

```none
new york: 8244910
los angeles: 3819702
chicago: 2707120
houston: 2145146
philadelphia: 1536471
phoenix: 1469471
san antonio: 1359758
san diego: 1326179
dallas: 1223229
```

In [ ]:
open("us_cities.txt", "w") do f
  write(f,
"new york: 8244910
los angeles: 3819702
chicago: 2707120
houston: 2145146
philadelphia: 1536471
phoenix: 1469471
san antonio: 1359758
san diego: 1326179
dallas: 1223229")
end

In [ ]:
x_vals = [1, 2, 3]
y_vals = [1, 1, 1]
sum([x * y for (x, y) in zip(x_vals, y_vals)])

```none
6
```

In [ ]:
sum([x % 2 == 0 for x in 0:99])

```none
50
```

In [ ]:
sum(map(x -> x % 2 == 0, 0:99))

```none
50
```

In [ ]:
pairs = ((2, 5), (4, 2), (9, 8), (12, 10))
sum([(x % 2 == 0) && (y % 2 == 0) for (x, y) in pairs])

```none
2
```

In [ ]:
p(x, coeff) = sum([a * x^(i-1) for (i, a) in enumerate(coeff)])

In [ ]:
p(1, (2, 4))

```none
6
```

In [ ]:
function f_ex3(string)
    count = 0
    for letter in string
        if (letter == uppercase(letter)) && isalpha(letter)
            count += 1
        end
    end
    return count
end

f_ex3("The Rain in Spain")

```none
3
```

In [ ]:
function f_ex4(seq_a, seq_b)
    is_subset = true
    for a in seq_a
        if !(a in seq_b)
            is_subset = false
        end
    end
    return is_subset
end

# == test == #

println(f_ex4([1, 2], [1, 2, 3]))
println(f_ex4([1, 2, 3], [1, 2]))

```none
true
false
```

In [ ]:
f_ex4_2(seq_a, seq_b) = issubset(Set(seq_a), Set(seq_b))

println(f_ex4_2([1, 2], [1, 2, 3]))
println(f_ex4_2([1, 2, 3], [1, 2]))

```none
true
false
```

In [ ]:
function linapprox(f, a, b, n, x)
    #=
    Evaluates the piecewise linear interpolant of f at x on the interval
    [a, b], with n evenly spaced grid points.

    =#
    length_of_interval = b - a
    num_subintervals = n - 1
    step = length_of_interval / num_subintervals

    # === find first grid point larger than x === #
    point = a
    while point <= x
        point += step
    end

    # === x must lie between the gridpoints (point - step) and point === #
    u, v = point - step, point

    return f(u) + (x - u) * (f(v) - f(u)) / (v - u)
end

In [ ]:
f_ex5(x) = x^2
g_ex5(x) = linapprox(f_ex5, -1, 1, 3, x)

In [ ]:
using Plots
pyplot()

In [ ]:
x_grid = linspace(-1, 1, 100)
y_vals = map(f_ex5, x_grid)
y_approx = map(g_ex5, x_grid)
plot(x_grid, y_vals, label="true")
plot!(x_grid, y_approx, label="approximation")

In [ ]:
f_ex6 = open("us_cities.txt", "r")
total_pop = 0
for line in eachline(f_ex6)
    city, population = split(line, ':')            # Tuple unpacking
    total_pop += parse(Int, population)
end
close(f_ex6)
println("Total population = $total_pop")

```none
Total population = 23831986
```